.panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scrapbook-text {
  font-family: "Baloo 2", cursive;
  color: #ff2f92;
  font-size: 2.3rem;
  line-height: 1.2;
  opacity: 0;
  transform: scale(0.8) rotate(-4deg);
  animation: scrapbookIn 1.1s ease-out forwards;
}

/* Name gets extra love */
.scrapbook-text span {
  display: inline-block;
  font-size: 3rem;
  margin-top: 10px;
  animation: namePop 1.4s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

/* Scrapbook entrance */
@keyframes scrapbookIn {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-8deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) rotate(2deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* Cute pop for the name */
@keyframes namePop {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-6deg);
  }
  70% {
    opacity: 1;
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
